@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #685dc5;
  --color-secondary: #535353;
  --color-tertiary: #f2f2f2;
  --color-border: #dadada;
  --color-bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--color-secondary);
  background-color: var(--color-bg);
}

border-box {
  border: 1px solid var(--color-border);
}

/* Testimonials carousel */

.carousel-root {
  cursor: url(/assets/images/customCursor.png), auto;
}

.carousel .slider-wrapper {
  width: 335px;
}

.carousel .control-arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .carousel .slider-wrapper {
    width: 100vw;
  }

  .carousel .control-arrow {
    display: block;
  }

  .carousel .slider-wrapper ul {
    display: flex;
    gap: 38px;
    padding-right: 41px;
  }

  .carousel .slider-wrapper ul li {
    max-width: 800px;
  }
}
